<% content_for :content do %>
	<%= content_for?(:content) ? yield(:content) : yield %>
	<div id="entity_menu">
    <ul>
      <li><%= link_to t('general.mainmenu'), :controller => "home", :action => "index" %></li>
    </ul>
  </div>
<% end %>
<%= render :template => 'layouts/application' %>