<% content_for :content do %>
	<%= content_for?(:content) ? yield(:content) : yield %>
	<div id="entity_menu" class="job_probe">
    <ul>
      <li><%= link_to "Main Menu", :controller => "home", :action => "index" %></li>
    </ul>
  </div>
<% end %>
<%= render :template => 'layouts/application' %>